{% extends "base.html" %}

{% block title %}Nairobi – AI Assistant{% endblock %}

{% block extra_styles %}
<style>
  .iframe-container {
  margin-top: 55px;
  width: 100%;
  height: calc(100vh - 55px - 1000px); /* ✅ leave room for footer */
}


  iframe {
    width: 100%;
    height: 91%;
    border: none;
    min-height: 350px;
  }
</style>
{% endblock %}

{% block content %}
<div class="iframe-container">
  <iframe
    src="https://www.chatbase.co/chatbot-iframe/DW5hU9kMkFoN18ooKFNIy"
    allow="microphone"
  ></iframe>
</div>
{% endblock %}
